@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
:root{
  --Heading: 'Cormorant Garamond', serif;
  --subheading: 'Montserrat', sans-serif;
  --body: 'EB Garamond', serif;
  --bodyBackground: hsl(238, 47%, 29%);
  --color: hsl(251, 69%, 75%);
  --btnColor: hsl(237, 38%, 54%);
  --outline: hsl(298, 75%, 87%);
  --link-color: hsl(238.85,23.21%,43.92%);
  --linkActive: hsl(0,100%,15.49%);
}
body{
  background-color: white;
}
h1{
  font-family: var(--Heading);
}
h2,
h3{
  font-family: var(--subheading);
}
h1,
h2,
h3{
  text-align: center;
  color: var(--bodyBackground);
}
.header{
  background-color: var(--outline);
}
.links{
  font-family: var(--body);
  color: var(--link-color);
}
.links:hover{
  color: var(--bodyBackground);
}
.links:active {
  color: var(--linkActive);
}
.button{
  border: 1rem;
  border: 1px solid var(--color);
  background: var(--btnColor);
  color: var(--bodyBackground);
}
.button2{
  border: 1rem;
  border: 1px solid var(--btnColor);
  background: var(--color);
  color: var(--bodyBackground);
}
.gif{
  display:block;
  margin: 0 auto;
}

.center { 
  text-align:center; 
  width:100%; 
}

.project{
 background-color: var(--color);
}